In [5]:
class Employee:
   
    def __init__(self,id, name,b_salary,sales,department,designation,h_rent,medical,commission):
        self.id = id
        self.name = name
        self.b_salary = b_salary
        self.sales=sales
        self.department=department
        self.designation =designation
        self.h_rent=h_rent
        self.medical=medical
        self.commission=commission
        
    def calculatecomission(self):
        return self.commission*self.sales    
    
    def displayEmp(self):
        print("ID: "+" "+str(self.id)+"\n"+
              "Name: "+" "+str(self.name)+"\n"+ 
              "Department: "+" "+str(self.department)+"\n"+
              "Designation: " + " "+ str(self.designation)+"\n"+
              "Basic: "+str(self.b_salary)+"\n"
              +"Sales: "+" "+str(self.sales)+"\n"+
              "Houserent: "+str(self.h_rent)+"\n"+ 
              "Medical: "+" "+str(self.medical)+"\n"+
              "Commission: "+" "+str(self.commission*self.sales)+"\n\n")
     
    
        
emp = Employee(101,"Riya",20000,20000,"Sales","Executive",8000,600,.2)
emp1= Employee(102,"Nira",25000,17000,"Sales","Executive",12000,1000,.3)
emp.displayEmp()
emp1.displayEmp()

ID:  101
Name:  Riya
Department:  Sales
Designation:  Executive
Basic: 20000
Sales:  20000
Houserent: 8000
Medical:  600
Commission:  4000.0


ID:  102
Name:  Nira
Department:  Sales
Designation:  Executive
Basic: 25000
Sales:  17000
Houserent: 12000
Medical:  1000
Commission:  5100.0